@use '../utility/_variable'
@use '../utility/_layout'

.home-container
    @include layout.centerColumnFlex
    width: 100%
    position: relative
    padding-bottom: 20vh
    .home-wrapper
        @include layout.centerColumnFlex
        width: 85%
        .search-container
            @include layout.centerColumnFlex

            width: 100%
            form
                @include layout.centerColumnFlex
                input[type='text']
                    margin-top: 20px
                    height: 50px
                    width: 70vw
                    padding: 20px
                    font-size: 16px
                    box-shadow: variable.$shadow-box    
                    border-radius: 32px
                    border: none
                    min-width: 200px
                    &:focus
                        outline: none

                input[type='submit']
                    font-size: 16px
                    padding: 8px
                    font-weight: 700
                    margin: 20px
                    min-width: 100px
                    width: 10vw
                    height: 36px
                    border-radius: variable.$radius
                    border: none
                    box-shadow: variable.$shadow-box
         
 

